@charset "utf-8";
/* CSS Document */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	padding:0;
	margin:0;
}

::selection {
  background: #0ADCD5;
  color: white;
}

::-moz-selection {
  background: #0ADCD5;
  color: white;
}

header{
	height: 75px;
	padding-top: 60px;
}
header img{
	width: 154px;
}

header nav{
	float:right;
}

header nav ul{
	list-style-type: none;
}

header nav ul li{
	display:inline-block;
	margin-left: 25px;
	line-height: 75px;
}

header nav ul li a{
	color: #848484;
	font-size: 15px;
	text-transform:uppercase;
	font-family: Roboto,sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	padding-bottom: 2px;
	border-bottom: 2px solid #848484;
}

header nav ul li:first-child{
	margin-left: 0px;
}

header nav ul li a:hover{
	color: #0ADCD5;
}

header nav ul .active a{
	color: #0ADCD5;
	border-bottom: 2px solid #0ADCD5;
}

.dropdown{
	position:relative;
	display:inline-block;
	margin-left:25px;	
}

.dropdown-content{
	display:none;
	position:absolute;
	min-width: 170px;
	background-color:#2D2D2D;
	z-index: 10;
}

.dropdown-content a{
	text-decoration: none;
	font-family: Roboto,sans-serif;
	font-size: 11px;
	text-transform:uppercase;
	padding: 15px 20px;
	color:#C0BDBF;
	display:block;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	letter-spacing: 1px;
}


.dropdown-content a:hover{
	background-color:#151515;
	color:#0ADCD5;
	padding-left:25px;
}

.dropdown:hover .dropdown-content{
	display:block;
}

.inner-dropdown-content{
	display:none;
	position:absolute;
	min-width: 170px;
	background-color:#2D2D2D;
	margin-top: -45px;
	border-left: 1px solid #333;
	margin-left: 170px;
    z-index: 10;
}

.inner-dropdown-content a{
	text-decoration: none;
	font-family: Roboto,sans-serif;
	font-size: 11px;
	text-transform:uppercase;
	color:#C0BDBF;
	display:block;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	letter-spacing: 1px;
}

.inner-dropdown-content a:hover{
	background-color:#151515;
	color:#0ADCD5;
	padding-left:25px;
}

.inner-dropdown:hover .inner-dropdown-content{
	display:block;
}

#mobile-menu .lines:after, #mobile-menu .lines:before{
	content:"";
	width:30px;
	height:2px;
	position:absolute;
	background-color:#3b3b3b;
}

#mobile-menu{
	width:35px;
	height:20px;
	position:absolute;
	cursor:pointer;
	right:20px;
	top:22px;
	display:none;
	padding-top: 13px;
	padding-bottom: 15px;
}
	
#mobile-menu .lines{
	height:2px;
	width:30px;
	display:inline-block;
	position:relative;
	background-color:#3b3b3b;
	transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
	-o-transition:.2s all;
}

#mobile-menu.active .lines{
	background-color:transparent;
}

#mobile-menu .lines:before{
	top:-7px;
	transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
	-o-transition:.2s all;
}

#mobile-menu.active .lines:before{
	 transform:translateY(7px) rotateZ(-45deg);
	-webkit-transform:translateY(7px) rotateZ(-45deg);
	-moz-transform:translateY(7px) rotateZ(-45deg);
	-ms-transform:translateY(7px) rotateZ(-45deg);
	-o-transform:translateY(7px) rotateZ(-45deg);
}

#mobile-menu .lines:after{
	top:7px;
	transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
	-o-transition:.2s all;
}

#mobile-menu.active .lines:after{
	 transform:translateY(-7px) rotateZ(45deg);
	-webkit-transform:translateY(-7px) rotateZ(45deg);
	-moz-transform:translateY(-7px) rotateZ(45deg);
	-ms-transform:translateY(-7px) rotateZ(45deg);
	-o-transform:translateY(-7px) rotateZ(45deg);
}

.heading_content h1{
	font-size: 74px;
    font-weight: 900;
	line-height: 80px;
	font-family: Lato,sans-serif;
	z-index:-1;
}

.heading_content .col-md-7{
	padding-top:40px;
	padding-bottom: 50px;
}

.heading_content .col-xs-12{
	padding-top:40px;
	padding-bottom: 50px;
}

.heading_content .unique_color{
	color: #0ADCD5;
}

.heading_content img{
	width: 50px;
	margin: 30px 0 20px 0;
}

.heading_content p{
	color: #747474;
	font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 18px;
	margin-top: 10px;
}


.mid-nav{
	list-style-type: none;
	padding-left: 0px;
}

.mid-nav li{
	display:inline-block;
	margin-left: 18px;
	margin-right: 18px;
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #3b3b3b;
}

.mid-nav .circle{
    width: 10px;
    height: 10px;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
    cursor: pointer;
    border: 2px solid #0ADCD5;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.mid-nav a:hover .circle{
    margin-top: 5px;
    opacity: 1;
	margin-bottom: 10px;
}

.mid-nav li a{
    color: #747474;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

.mid-nav li.active a{
	color: #0ADCD5;
}

.mid-nav .active a .circle{
    background-color: #0ADCD5;
    opacity: 1;
    margin-top: 5px;
	margin-bottom: 10px;
}

.mid-nav li a:hover{
	color: #0ADCD5;
}

.portfolio-items{
	margin-top: -5px;
}

.all img{
	width: 100%;
	height: auto;  
	-o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.all .col-sm-4{
	padding: 0px;
	overflow: hidden;
}

.all .col-md-4{
	padding: 0px;
	overflow: hidden;
}

.all .col-xs-6{
	padding: 0px;
	overflow: hidden;
}

.all .col-md-3{
	padding: 0px;
	overflow: hidden;
}

.all .col-xs-12{
	padding: 0px;
	overflow: hidden;
}

#gutter{
	padding-right: 15px;
	padding-bottom: 15px;
	
}

#gutter a{
     overflow: hidden;
	 display: block;
}

.all .col-sm-4 a{
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.all .col-sm-4 a:hover img{
    transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
    opacity: .2;
}

.all .col-md-4 a{
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.all .col-md-4 a:hover img{
    transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
    opacity: .2;
}

.all .col-xs-6 a{
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.all .col-xs-6 a:hover img{
    transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
    opacity: .2;
}

.all .col-md-3 a{
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.all .col-md-3 a:hover img{
    transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
    opacity: .2;
}

.all .col-xs-12 a{
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.all .col-xs-12 a:hover img{
    transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
    opacity: .2;
}

.all .img-text{
	position: absolute;
    z-index: 10;
	top: 60%;
	left: 12%;
	opacity: 0;
}

.all .img-text h5{
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 3px;
    color: #3b3b3b;
	font-family: Lato,sans-serif;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
}

.all .img-text p{
	text-transform: capitalize;
    font-size: 14px;
    color: #747474;
    font-weight: 500;
	font-family: Roboto,sans-serif;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	margin-top:-22px;
}

.all a:hover .img-text{
	opacity: 1;
}

.all a:hover .img-text h5{
	transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
}

.all a:hover .img-text p{
	transform: translateY(60%);
	-moz-transform: translateY(60%);
	-ms-transform: translateY(60%);
	-o-transform: translateY(60%);
	-webkit-transform: translateY(60%);
}

footer{
	padding-top: 60px;
	padding-bottom: 60px;
}

footer img{
	float:left;
	margin-right: 20px;
    margin-top: 7px;
}

footer p{
	padding-top: 20px;
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
	color: #3b3b3b;
}

.social-media li {
	margin-top: 28px;
	margin-left: 5px;
	margin-right: 5px;
	list-style-type:none;
	display:inline-block;
}

.social-media a{
	line-height: 40px;
    font-size: 18px;
    color: #fff;
	display:block;
	background-color: #555;
	height: 40px;
    width: 40px;
	text-align: center;
	transition: all .3s ease-in-out .25s;
	-webkit-transition: all .3s ease-in-out .25s;
	-moz-transition: all .3s ease-in-out .25s;
	-o-transition: all .3s ease-in-out .25s;
}

.social-media a:hover{
	background-color:#0ADCD5;
}


.contact .heading_content h1 a{
	color: #3b3b3b;
	transition: all .3s ease-in-out .25s;
	-webkit-transition: all .3s ease-in-out .25s;
	-moz-transition: all .3s ease-in-out .25s;
	-o-transition: all .3s ease-in-out .25s;
}

.contact .heading_content h1 a:hover{
	color: #0ADCD5
}

#map {
    height: 500px;
    width: 100%;
}


.about-img{
	height: 500px;
	background-image:url(../images/about_me.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
}


.blog .blog-1 h2{
	font-size: 18px;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 700;
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
}

.blog-1 h2 a{
    color: #3b3b3b;
    transition: all .3s ease-in-out .25s;
	-webkit-transition: all .3s ease-in-out .25s;
	-moz-transition: all .3s ease-in-out .25s;
	-o-transition: all .3s ease-in-out .25s;
}

.blog-1 h2 a:hover{
	    color: #0ADCD5;
}

.blog-1{
	padding: 20px 0;
}

.blog .date{
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	margin-bottom: 18px;
}

.date a{
    color: #aeaeae;
}

.date a:hover{
	color: #0ADCD5;
}

.blog .blog-1 hr{
    border-top: 1px solid #b7b7b7;
}

.blog .content{
	text-align: justify;
    color: #747474;
    margin-bottom: 30px;
	font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.blog .btn{
	font-family: Roboto,sans-serif;
	font-size: 12px;
    padding: 10px 20px;
	background-color: #3b3b3b;
	font-weight: 700;
	letter-spacing: 2px;
    text-transform: uppercase;
	text-align: center;
	border-radius: 0;
	color: white;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.blog .btn img{
    margin-left: 10px;
}

.blog .btn:hover {
	background-color: #0ADCD5;
	color:white;
}

.list-2 iframe{
	width: 100%;
}

.list-1 iframe{
	width: 100%;
}

.blog-2{
	padding-top:30px;
}

.blog-2 blockquote{
	font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #747474;
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	padding: 32px;
    font-style: italic;
    background-color: #f5f5f5;
	font-family: Roboto,sans-serif;
}

.blog-2 blockquote span{
	display:block;
	text-align: right;
    font-size: 11px;
	line-height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}

.blog-2 blockquote:hover{
	background-color: #0ADCD5;
	color:white;
	border-left: 5px solid #0ADCD5;
}

.list-1 .blog-2{
	padding-bottom: 10px;
}

.list-1 .video{
	padding-top: 30px;
}

.list-2 .video{
	padding-top: 30px;
}

.list-2 .land img{
	padding-top: 30px;
}

.list-3 .van img{
	padding-top: 30px;
}

.blog-footer{
	padding-top: 100px;
}

.post-img{
	overflow: hidden;
}

.post-img img{
	width: 100%
}

.topic h2{
	font-family: Lato,sans-serif;
	font-size: 45px;
    font-weight: 900;
	color: #3b3b3b;
}

.topic .author li{
	display:inline-block;
	color: #747474;
	padding-right: 5px;
    padding-left: 5px;
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
}

.topic .author li:first-child{
	padding-left: 0px;
}

.topic .author li a{
	color:#0ADCD5;
}

.topic hr{
	border-top: 1px solid #ccc;
    width: 100%;
	margin-bottom: 24px;
}

.topic .sub-topic{
	color: #747474;
	font-weight: 300;
    line-height: 1.4;
	font-family: Roboto,sans-serif;
	font-size: 21px;
	margin-bottom: 25px;
}

.topic p{
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
    color: #747474;
	margin-bottom: 25px;
	line-height: 25px;
}

.topic blockquote{
	font-family: Roboto,sans-serif;
	line-height: 46px;
    font-size: 25px;
    font-weight: 300;
	color: #747474;
	padding: 32px;
    font-style: italic;
    background-color: #f5f5f5;
}

.topic .list{
	padding-left: 15px;
	padding-bottom: 35px;
}

.topic .list li{
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
    color: #747474;
	line-height: 25px;
}

.comments .col-sm-8{
	padding-left: 0;
}

.comments-content h3{
	font-family: Lato,sans-serif;
}

.comments-list li img{
	float: left;
    margin-right: 20px;
    overflow: hidden;
	height: 70px;
}

.comments-list li h6{
	display: inline-block;
	padding-top: 5px;
    margin-right: 15px;
    font-weight: 600;
	font-family: Lato,sans-serif;
}

.comments-list li .btn{
	display: inline-block;
	font-family: Roboto,sans-serif;
	font-size: 11px;
	padding: 5px 10px;
	background-color: #0ADCD5;
	color:white;
	border-radius: 0;
    letter-spacing: 2px;
	font-weight: 700;
    text-transform: uppercase;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.comments-list li .btn:hover{
	color: #fff;
	background-color: #3b3b3b;
	opacity: 0.8;
}
	
.comments-list li p{
	color: #747474;
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
    line-height: 25px;	
}

.comments-list .text{
	overflow: hidden;
}

.comments-list .list-2{
	padding-left: 77px;
}

.comments-content hr{
	border-top: 1px solid #ccc;
	margin-top: 10px;
	width: 100%;
}

.comments-content{
	padding-bottom: 60px;
}

.comments-content form{
	display: block;
}

.comments-content form input{
	width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    background-color: #f5f5f5;
    padding: 0 20px;
	font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.comments-content form textarea{
	width: 100%;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    background-color: #f5f5f5;
    height: 140px;
    padding: 20px;
	font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.comments-content form .btn{
	display: inline-block;
	font-family: Roboto,sans-serif;
	font-size: 12px;
	padding: 10px 20px;
	background-color: #0ADCD5;
	color:white;
	border-radius: 0;
    letter-spacing: 2px;
	font-weight: 700;
    text-transform: uppercase;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.comments-content form .btn:hover{
	color: #fff;
	background-color: #3b3b3b;
	opacity: 0.8;
}

.image .col-md-12{
	padding-bottom: 50px;
}

.image p{
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
    line-height: 25px;
	color: #3b3b3b;
}

.order li{
    padding: 10px 0;
	font-family: Roboto,sans-serif;
    font-weight: 700;
	font-size: 16px;
    line-height: 25px;
	color: #3b3b3b;
}

.order li span{
	font-weight: 300;
}

.buy-btn{
	font-family: Roboto,sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5;
    text-transform: uppercase;
	border-radius: 0px;
	color: white;
    padding: 10px 20px;
	letter-spacing: 2px;
	transition: all .3s ease;
	background-color: #3b3b3b;
	display: inline-block;
}

.buy-btn span{
	margin-left: 10px;
}

.buy-btn:hover{
	background-color: #0ADCD5;
	color: white;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
   display: block;
   height:auto;
   width: 100%;
}

.item.active img{
	  height:auto;
}
  
.height{
	height: 500px;
	overflow:hidden;
}

#description{
	padding: 60px 0;
}

#description h2{
	font-family: Lato,sans-serif;
	line-height: 1.1;
	font-size: 50px;
	font-weight: 700;
    color: #3b3b3b;
	margin: 0px;
	margin-bottom: 10px;
}		    

#description img{
	width: 50px;
}

#description .col-md-4 p{
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
    line-height: 25px;
	color: #aeaeae;
}

#description .col-md-8 p{
	font-family: Roboto,sans-serif;
    font-weight: 400;
	font-size: 16px;
    line-height: 25px;
	color: #3b3b3b;
}

.parallax-1{
	height: 384px;
	background-image:url(../images/single-portfolio.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
}

.parallax-2{
	height: 384px;
	background-image:url(../images/single-portfolio2.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
}

.parallax-3{
	height: 384px;
	background-image:url(../images/single-portfolio3.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
}

@media screen and (max-width: 767px) {
header nav ul{
    display: none;
}
	
header .container a img{
    width: 100px;
}
	
header nav{
	float:none;
	padding-top: 5px;
}

header img{
	margin-top: -30px;
}	

#mobile-menu{
	display:block;
}

.mobile-dropdown-content {
    background-color: #3b3b3b;
	left:15px;
	right:15px;
}

.mobile-dropdown-content a {
    text-decoration: none;
	font-size: 13px;
	line-height: 15px;
	padding-bottom: 2px;				
}

.mobile-dropdown-content li{
     padding: 8px 15px;
	 border-bottom: 1px solid #757575;
}

.mobile-dropdown-content{
	padding-left: 0px;
	margin-left: 0px;
}

header nav ul li{
	display: block;
	margin-left: 0px;
	line-height: 25px;
}

.show {
	display:block;
}

header nav ul .dropdown{
	margin-left: 0px;
	display:block;
}

header nav ul li a{
	display:inline-block;
}

header nav ul .dropdown li{
	border-bottom: 0px;
}

.dropdown-content{
	display:block;
	position:relative;
	background-color: #3b3b3b;
}

.dropdown-content a{
	color: #848484;
	font-size: 11px;
}

.inner-dropdown-content{
	display:block;
	position:relative;
	background-color:inherit;
	margin-top:inherit;
	border-left: 0px solid #333;
	margin-left: 0px;
}

.inner-dropdown-content a{
    font-weight: 400;
	color: #C0BDBF;
}

a.border{
	border-bottom: 1px solid #757575;
    padding: 8px 15px;
    margin-left: 10px;
}

a.no-border{
	padding: 8px 15px;
}

.end a.border{
	border-bottom: 0px solid #757575;
	padding: 8px 15px;
}

.end{
	border-bottom: 1px solid #757575;
}

.final-item .border{
	border-bottom: 0px;
	margin-bottom: 7px;
}

#full-border{
	border-top: 1px solid #757575;
}

.inner-dropdown{
	padding:0px 15px;
}

.dropdown li{
	padding-bottom: 0px;
}

.dropdown-content a{
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.dropdown-content a:hover{
	background-color:#151515;
	color:#0ADCD5;
	padding-left:25px;
}

.about-img-move{
	height: 500px;
	background-image:url(../images/about_me.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-display{
	display: none;
}

.move{
    padding-top: 1090px;
}

.height{
	height: 340px;
	overflow:hidden;
}
}

@media screen and (max-width: 586px) {
	.mid-nav li{
	margin-left: 16px;
	margin-right: 16px;
	font-size: 15px;
}
}

@media screen and (max-width: 527px) {
.height{
	height: 240px;
	overflow:hidden;
}
}

@media screen and (max-width: 377px){
.height{
	height: 200px;
	overflow:hidden;
}
}	

@media screen and (max-width: 317px){
.height{
	height: 180px;
	overflow:hidden;
}
}

@media screen and (max-width: 287px){
.height{
	height: 160px;
	overflow:hidden;
}
}	
	